:root {
    // Grau
    --color-grey-600: #090d10;
    --color-grey-500: #192a33;
    --color-grey-400: #505e64;
    --color-grey-300: #d2d9d8;
    --color-grey-200: #dfe0e1;
    --color-grey-100: #ffffff;

    // Brown
    --color-brown-400: #a29a7a;

    // Focus Ring
    --color-focus-ring-base: var(--color-foreground);
}

/*
https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=&foreground-colors=090d10%0D%0A192a33%0D%0A505e64%0D%0Adde2e1%0D%0Af0f2f2%0D%0Affffff%0D%0A103049%0D%0A0d4f7d%0D%0A387199%0D%0Ab-ad8ee%0D%0Aeaf3f9%0D%0A841830&es-color-form__tile-size=compact&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18&es-color-form__show-contrast=dnp
*/
