<!doctype html>
<html lang="de" class="no-js">
    <head>
            {#
            Wir folgen den Empfehlungen von Harry Roberts (@csswizardry) aus seinem Talk "Get your <head> straight"
            (https://www.youtube.com/watch?v=MHyAOZ45vnU) für die Reihenfolge von head Elementen:
            - meta charset|http-equiv|viewport
            - <title>
            - preconnect
            - <script src="" async></script>
            - Synchronous JS
            - Synchronous CSS
            - preload
            - <script src="" defer></script>
            - prefetch / prerender
            - Everything else ('SEO' meta tags, icons, Open Graph, etc.)
            #}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Optik Dumm {{ '- ' ~ title }}</title>

            {#------- Synchronous JS -------#}
            {# JS go/nogo #}
            <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

            {#------- Synchronous CSS -------#}
            <link rel="stylesheet" href="/css/style.css">

            {#------- Critical CSS -------#}
            <style>
                {% include 'critical.css' %}
            </style>

            {#------- Deferred JS -------#}
            <script src="/js/main.js" type="module" defer="defer"></script>
    </head>

    <body>
        <div class="page theme-default">
            <header class="page__header page-header">
                <a href="/" class="page-header__logo">{% include 'logo.svg' %}</a>

                <nav aria-label="Hauptnavigation" class="page-header__main-nav main-nav">
                    {% set mainNavPages = collections.main | eleventyNavigation %}
                    {% set mainNavItemClass = 'main-nav__item' %}
                    <ul class="main-nav__list" role="list">
                        {%- for entry in mainNavPages %}
                            <li {% if entry.url == page.url %}aria-current="page" class="{{ mainNavItemClass }} {{ mainNavItemClass ~ '--active' }}"{% else %}{{ mainNavItemClass }}{% endif %}>
                                <a class="main-nav__text" href="{{ entry.url }}">{{ entry.title }}</a>
                            </li>
                        {%- endfor %}
                    </ul>
                </nav>
                <a class="page-header__phone link-interaction" href="tel:+49221551166">0221.551166</a>
            </header>
            <main class="page__main page-main flow">
                {% block hero %}
                {% endblock %}
                <div class="page-main__content flow">
                    {% block content %}{% endblock %}
{#                    {{ content | safe }}#}
                </div>
            </main>
            <footer class="page__footer page-footer" style="margin-block-start: var(--space-3xl)">
                <div class="page-footer__content">
                    <div class="page-footer__logo-sysnav flow-m">
                        {% include 'logo.svg' %}
                        <nav aria-label="Sysnavigation" class="sys-nav">
                            {% set sysNavPages = collections.sys | eleventyNavigation %}
                            {% set sysNavItemClass = 'sys-nav__item' %}
                            <ul class="sys-nav__list" role="list">
                                {%- for entry in sysNavPages %}
                                    <li {% if entry.url == page.url %}aria-current="page" class="{{ sysNavItemClass }} {{ sysNavItemClass ~ '--active' }}"{% else %}{{ sysNavItemClass }}{% endif %}>
                                        <a class="sys-nav__text" href="{{ entry.url }}">{{ entry.title }}</a>
                                    </li>
                                {%- endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="page-footer__contact">
                        <p><span>Kontakt</span><br/>
                            Iltisstraße 9<br/>
                            50825 Köln<br/>
                            Telefon 0221.551166<br>
                            <a href="/">Optik Dumm auf Google Maps</a>
                        </p>
                        <p><span>Öffnungszeiten</span><br/>Mo, Di, Do, Fr<br/>09.00 bis 13.00 Uhr / 15.00 bis 18.30 Uhr<br/>Mi 09.00 bis 13.00 Uhr<br/>Sa 10.00 bis 14.00 Uhr</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
