@use "../00_settings" as settings;
@use "../01_tools" as tools;

.elevator {
    min-height: 55dvh;
    display: grid;
    grid-template-columns: var(--layout-margin) 1fr 0.618fr var(--layout-margin);
    grid-template-rows: auto auto min-content var(--space-2xs);
    row-gap: var(--space-xl);
}

.elevator__background {
    grid-column: 1/-1;
    grid-row: 1/4;
}

.elevator__text {
    //margin-block-start: var(--space-l);
    grid-column: 2/4;
    grid-row: 2;
    align-self: end;
    isolation: isolate; // New stacking context
}

.elevator__banner {
    grid-column: 3/4;
    grid-row: 1;
    isolation: isolate; // New stacking context
    align-self: center;
    justify-self: center;
    margin-block-start: calc(var(--space-xs) * -1);

    @media (min-width: 600px) {
        grid-row: 2;
    }
}

.elevator__swiper {
    grid-column: 1/-1;
    grid-row: 3/5;
    align-self: center;
}
