@use "../00_settings" as settings;
@use "../01_tools" as tools;

.hero {
    --_hero-max-height: var(--hero-max-height, 65dvh);

    @include tools.layout-grid;
    @include tools.layout__full-bleed;

    max-height: var(--_hero-max-height);
    grid-template-rows: var(--_hero-max-height);
    display: grid;
}

.hero__image {
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    object-fit: cover;
}

.hero__content {
    grid-column: 1/12;
    grid-row: 1/-1;
    align-self: center;
    background-color: var(--color-background);
    hyphens: auto;

    > * {
        margin-inline-start: var(--layout-margin);
        padding-block-start: var(--space-xl);
        padding-block-end: var(--space-m);
        padding-inline-end: var(--space-xl);
    }
}

.hero--to-portrait-image {

    @media (min-width: 700px) {

        .hero__content {
            grid-column: 1/9;
            align-self: end;
        }

        .hero__image {
            grid-column: 8/-1;
        }
    }

    @media (min-width: 1000px) {

        .hero__image {
            grid-column: 8/13;
        }
    }
}

.hero--kontaktlinsen {

    .hero__content {
        align-self: end;
    }
}
