@use "../00_settings" as settings;
@use "../01_tools" as tools;

.main-nav {
    margin-inline-end: auto;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs) var(--space-m);
}

.main-nav__text {
    @include tools.link-interaction;

    font-size: var(--step--1);
    text-underline-offset: .35em;
    text-decoration-thickness: .1em;

    .main-nav__item--active & {
        font-weight: bold;
    }
}
