@use "../00_settings" as settings;
@use "../01_tools" as tools;

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs) var(--space-m);
}

.main-nav__text {
    @include tools.link-nav;

    .main-nav__item--active & {
        --_link-color-foreground-idle: var(--link-color-foreground-hover);
    }
}
