@use "../00_settings" as settings;
@use "../01_tools" as tools;

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs) var(--space-m);
}

.main-nav__text {
    @include tools.link-interaction;

    .main-nav__item--active & {
        font-weight: bold;
    }
}
