.swiper-wrapper {
    --swiper-wrapper-transition-timing-function: cubic-bezier(.25,.46,.45,.94);

    align-items: center;
}

.swiper-slide {
    padding-inline: var(--space-xs);

    img {
        width: 100%;
        max-width: none;
    }
}

@media (min-width: 700px) {

    .swiper-animate-content img {
        transition: transform 300ms cubic-bezier(.18,.89,.32,1.28);
    }

    .swiper-slide {
        padding-inline: 0;
    }

    .swiper-slide img {
        transform: scale(.45);
    }

    .swiper-slide-active + .swiper-slide img {
        transform: scale(1);
    }
}
