---
tags: produkte
title: Kontaktlinsen
beschreibung: 'Wir bieten kompetente Beratung und individuelle Anpassung von Kontaktlinsen für jedes Alter und jeden Bedarf. Dank unserer langjährigen Zusammenarbeit mit führenden Herstellern garantieren wir höchste Qualität und zufriedene Kunden.'
img:
    src: 'coopervision.png'
    offset: '-3lh'
    w: 1500
    h: 982
date: 2025-01-05
---

{% extends 'base.njk' %}

{% block pageMainClass%}flow flow-2xl{% endblock %}

{% block hero %}
    <div class="hero hero--to-portrait-image hero--kontaktlinsen">
        <img class="hero__image" alt=""
             eleventy:formats="webp"
             eleventy:widths="1280"
             loading="lazy"
             sizes="320px, 640px, 1280px"
             src="https://images.unsplash.com/photo-1562136460-c81d97a440c6"
             width="2304"
             height="3456"
        />
        <div class="hero__content">
            <h1 class="h2 font-black">Kontaktlinsen: Kompetenz und Auswahl</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="layout">
        <section class="layout__content flow flow-m">
            <p>Wir arbeiten seit vielen Jahren eng mit den führenden Herstellern von Kontaktlinsen zusammen. Diese Zusammenarbeit ermöglicht es uns, Ihnen hochwertige Produkte anzubieten, die auf dem neuesten Stand der Technik sind.<p/>
            <p>Unser Team bietet eine qualifizierte und fundierte Beratung bei der Auswahl und Anpassung von Kontaktlinsen. Egal ob für den täglichen Gebrauch, sportliche Aktivitäten oder spezielle Bedürfnisse – wir finden die passende Lösung für jeden Bedarf und jedes Alter.</p>
            <p>Dank unserer Erfahrung und Expertise sind Sie bei uns in besten Händen, um die optimale Sicht und den gewünschten Komfort mit Kontaktlinsen zu erreichen.</p>
            <p class="text-300 m-t-2xl">
                Foto von <a href="https://unsplash.com/de/@earthtokarly?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Karly Jones</a> auf <a href="https://unsplash.com/de/fotos/menschliches-auge-VEcr4T8iYLw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </p>
        </section>
    </div>
{% endblock %}

