---
tags: main
title: Ihre Brillenexperten im Veedel
eleventyNavigation:
    key: Über uns
    order: 4
---
{% extends 'base.njk' %}

{% block content %}
    <div class="layout m-t-2xl">
        <section class="layout__wide-content flow flow-m">
            <h1>{{ title }}</h1>
            <p class="max-width-paragraph-max">Seit über 45 Jahren sind wir im Veedel ansässig und haben uns als vertrauenswürdige Adresse für hochwertige Brillen etabliert. Seit Anfang 2015 führen wir den Betrieb in zweiter Generation und sind ein traditioneller Handwerksbetrieb, der Ihre Brillen vor Ort in der eigenen Werkstatt fertigt, repariert und anpasst. Wir bieten stets modernste Brillenglastechnik, um sicherzustellen, dass unsere Kunden die bestmögliche Sicht genießen.</p>
            <p class="max-width-paragraph-max">Unser Ansatz vereint Handwerk, Tradition und Moderne, wobei wir großen Wert auf Qualität und Präzision legen und gleichzeitig innovative Techniken integrieren. Eine persönliche, individuelle, ausführliche und qualifizierte Beratung gehört bei uns zum Standard. Wir nehmen uns die Zeit, die jeder Kunde benötigt, um die passende Brille zu finden, denn Ihre Zufriedenheit und der Komfort Ihrer Sicht stehen für uns an oberster Stelle.</p>
            <div class="grid gap-xl m-t-xl" style="grid-template-columns: repeat(auto-fill, 180px);">
                {% for mitarbeiter in [
                    {
                        name: 'Markus Dumm',
                        details: 'staatlich geprüfter Augenoptiker und Augenoptikermeister',
                        img: 'md'
                    },
                    {
                        name: 'Ralf Dumm',
                        details: 'staatlich geprüfter Augenoptiker und Augenoptikermeister',
                        img: 'rd'
                    },
                    {
                        name: 'Milena Neu',
                        details: 'Augenoptikermeisterin und Optometristin',
                        img: 'mn'
                    },
                    {
                        name: 'Claudia Langen',
                        details: 'staatlich geprüfte Augenoptikerin und Augenoptikermeisterin',
                        img: 'cl'
                    }
                ] %}
                    <div class="text-align-center">
                        <div class="mitarbeiter-foto">
                            <img class="mitarbeiter-foto__img"
                                 alt=""
                                 eleventy:formats="webp"
                                 eleventy:widths="640"
                                 loading="lazy"
                                 sizes="320px, 640px"
                                 src="/img/{{ mitarbeiter.img }}.png"
                            />
                        </div>
                        <p class="h5 text-300 m-t-xs">{{ mitarbeiter.name }}</p>
                        <p class="text-300 hyphens-auto">{{ mitarbeiter.details }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
