---
layout: base.njk
title: Startseite
heroContent: "
    <p><span>Kontakt</span><br/>Iltisstraße 9<br/> 50825 Köln<br/>Telefon 0221.551166</p>
    <p><span>Öffnungszeiten</span><br/>Mo, Di, Do, Fr<br/>09.00 bis 13.00 Uhr / 15.00 bis 18.30 Uhr<br/>Mi 09.00 bis 13.00 Uhr<br/>Sa 10.00 bis 14.00 Uhr</p>
"
---
<div class="flow">
    <h1>Willkommen bei Optik Dumm</h1>

    <p>Optik Dumm aus Köln Neuehrefeld ist so bunt und vielfältig wie Köln. Ob modebewusst, jung geblieben, ausgefallen oder familiär und preisbewusst, das Team von Optik Dumm ist Ihr professioneller Ansprechpartner rund um das Thema „besser sehen“. Bei uns stehen die Qualität der Produkte und die Zufriedenheit unserer Kunden immer an erster Stelle.</p>

    <p>Unsere Philosophie: stets zufriedene Kunden, denn wenn Sie es sind, sind wir es auch. Besonderen Wert legen wir auf die Qualität der Augenglasbestimmung. Wir sind stets bemüht durch gründliche und seriöse Arbeit dem Kunden beste Qualität zu liefern.</p>

    <p>Unser Hauptaugenmerk liegt in der Beratung unserer Kunden.</p>
</div>

