---
title: Startseite
---
{% extends 'base.njk' %}

{% block hero %}
    <div class="elevator layout__full-bleed">
        <div class="elevator__background pattern-boxes" style="--pattern-multiplier: .5"></div>
        <div class="elevator__text">
            <h1>Optik Dumm – <br>Ihr zuverlässiger Optiker<br> im Veedel.</h1>
        </div>
        <div class="elevator__swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for color in ['1', '2', '3', '4', '5'] %}
                        <div class="swiper-slide">
                            <img alt="Retro Sonnenbrille"
                                 alt=""
                                 eleventy:formats="webp"
                                 eleventy:widths="1280"
                                 loading="lazy"
                                 sizes="320px, 640px, 1280px"
                                 src="/img/brille.png"
                                 style=""
                            />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="flow-xl layout m-t-xl">
    <div class="layout__wide-content m-l-auto max-width-paragraph-max">
        <p>Optik Dumm in Neuehrefeld ist so bunt und vielfältig wie Köln selbst. Unser engagiertes Team ist Ihr kompetenter Ansprechpartner für alle Belange rund um das Thema „besser sehen“, wobei die Qualität unserer Produkte und die Zufriedenheit unserer Kunden an oberster Stelle stehen. Wir glauben, dass zufriedene Kunden der Schlüssel zu unserem Erfolg sind, und legen besonderen Wert auf die Präzision bei der Augenglasbestimmung. Durch sorgfältige und professionelle Arbeit gewährleisten wir die bestmögliche Qualität. Besuchen Sie uns gerne in unserem Laden, um in einem persönlichen Gespräch Ihre Bedürfnisse und Wünsche zu besprechen.</p>
    </div>
    <div class="layout__full-bleed">
        <img alt="Das Team von Optik Dumm"
             class="width-100 max-width-none"
             eleventy:formats="webp"
             eleventy:widths="1600"
             loading="lazy"
             sizes="320px, 640px, 1280px, 1600px"
             src="/img/team.png"
        />
    </div>
    <section class="layout__wide-content flow-l">
        <h2 class="h1" id="leistungen">Unsere Leistungen</h2>
        <div class="text-300 grid gap-2xl" style="grid-template-columns: repeat(auto-fit, minmax(100px, 30ch))">
            {% set leistungen = [
                {
                    name: 'Sehtest',
                    text: 'Einmal im Jahr sollten Sie einen Sehtest bei uns oder Ihrem Augenarzt machen lassen, denn eine Verschlechterung der Sehleistung verläuft häufig schleichend und wird meist erst spät wahrgenommen.'
                },
                {
                    name: 'Qualitäts-Garantie',
                    text: 'Auf alle Brillen erhalten Sie eine Qualitäts-Garantie von 2 Jahren.'
                },
                {
                    name: 'Verträglichkeits-Garantie',
                    text: 'Sie erhalten eine 6-monatige Verträglichkeits-Garantie auf alle von uns verarbeiteten Brillengläser.'
                },
                {
                    name: 'Ultraschallreinigung',
                    text: 'Auch bei sorgfältiger Reinigung Ihrer Brille mit einem Mikrofasertuch bleiben Verschmutzungen in Ecken, Kanten und Rillen bestehen. Deshalb bieten wir Ihnen eine kostenfreie Ultraschall-Reinigung an. Schonend und gründlich.'
                },
                {
                    name: 'Brillen-Check',
                    text: 'Bringen Sie uns Ihre Brille zum Brillen-Check. Anschließend erhalten Sie Ihre Brille Ultraschall gereinigt und generalüberholt zurück.'
                },
                {
                    name: 'Kontaktlinsen-Probetragen',
                    text: 'Sie wollten schon immer einmal Kontaktlinsen ausprobieren? Kein Problem – vereinbaren Sie einfach einen Termin und lassen Sie sich von uns unverbindlich Kontaktlinsen aufsetzten.'
                },
                {
                    name: 'Eigene Werkstatt',
                    text: 'Um eine optimale Verglasung Ihrer Brille sicher zu stellen, garantieren wir noch echtes Handwerk aus eigener Hand. Dabei kommt es auf Präzision, Geduld und natürlich Geschick an.'
                }
            ] %}

            {% for leistung in leistungen %}
                <p>
                    <span class="font-black">{{ leistung.name }}</span><br>
                    {{ leistung.text }}
                </p>
            {% endfor %}
        </div>
    </section>
    <section class="layout__full-bleed">
        <div class="layout pattern-boxes flow-2xl p-v-xl">
            <div class="layout__wide-content justify-self-end">
                <h2 class="h1" id="produkte">Unsere Produkte</h2>
            </div>
            <div class="layout__wide-content">
            <div class="card-grid">
                {% for produkt in [
                    {
                        name: 'Brillen',
                        beschreibung: 'Wir bieten eine große Auswahl an hochwertigen Designerbrillen aus den aktuellsten Kollektionen regionaler und internationaler Marken sowie tolle Komplettpreisangebote.',
                        img: ''
                    },
                    {
                        name: 'Sonnenbrillen',
                        beschreibung: 'Unsere Sonnenbrillen sind echte Hingucker. Bei uns können Sie eine Vielzahl an Sonnenbrillenmodellen endecken.',
                        img: ''
                    },
                    {
                        name: 'Kontaktlinsen',
                        beschreibung: 'Kontaktlinsen sind die ideale Ergänzung oder Alternative zur Brille. Sie garantieren in fast allen Lebenslagen optimales Sehen ohne Beeinträchtigung.',
                        img: ''
                    },
                    {
                        name: 'Kinderbrillen',
                        beschreibung: 'Kontaktlinsen sind die ideale Ergänzung oder Alternative zur Brille. Sie garantieren in fast allen Lebenslagen optimales Sehen ohne Beeinträchtigung.',
                        img: ''
                    },
                    {
                        name: 'Sportoptik',
                        beschreibung: 'Kontaktlinsen sind die ideale Ergänzung oder Alternative zur Brille. Sie garantieren in fast allen Lebenslagen optimales Sehen ohne Beeinträchtigung.',
                        img: ''
                    }
                ] %}
                    <article class="card flow flow-m">
                        <div class="card__media">
                            <img alt="Retro Sonnenbrille"
                                 class=""
                                 eleventy:formats="webp"
                                 eleventy:widths="1280"
                                 loading="lazy"
                                 sizes="320px, 640px, 1280px"
                                 src="/img/brille.png"
                                 style="height: auto; margin-block-start: -2.5lh;"
                            />
                        </div>
                        <div class="card__body m-b-auto">
                            <h3 class="h5"><a class="card__link" href="#">{{ produkt.name }}</a></h3>
                            <p>{{ produkt.beschreibung }}</p>
                        </div>
                        <div aria-hidden="true" class="card__button button m-t-m">Mehr erfahren</div>
                    </article>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>
    <section class="layout__wide-content flow-l">
        <h2 class="h1" id="Marken">Marken</h2>
        <ul role="list" class="marken">
            {% for logo in [
                {
                    name: 'Alfred Kerbs',
                    img: 'alfredkerbs.png',
                    url: 'https://www.alfredkerbs.com/'
                },
                {
                    name: 'Andy Wolf',
                    img: 'andywolf.svg',
                    url: 'https://www.andy-wolf.com/'
                },
                {
                    name: 'Annu',
                    img: 'annu.svg',
                    url: 'https://weareannu.com/de/'
                },
                {
                    name: 'Atlant',
                    img: 'atlant.svg',
                    url: 'https://atlanteyewear.com/'
                },
                {
                    name: 'Cazal',
                    img: 'cazal.svg',
                    url: 'https://www.cazal-eyewear.com/'
                },
                {
                    name: 'Gigi Studios',
                    img: 'gigistudios.svg',
                    url: 'https://gigistudios.com/de-de'
                },
                {
                    name: 'Jisco',
                    img: 'jisco.png',
                    url: 'https://www.jiscoeyewear.com/de/'
                },
                {
                    name: 'julbo',
                    img: 'julbo.svg',
                    url: 'https://www.julbo.com/de_de'
                },
                {
                    name: 'Luno',
                    img: 'luno.svg',
                    url: 'https://lunor.com/'
                },
                {
                    name: 'Manti Manti',
                    img: 'mantimanti.svg',
                    url: 'https://mantimanti.de/'
                },
                {
                    name: 'Martin & Martin',
                    img: 'martinmartin.svg',
                    url: 'https://https://martinxmartin.com/'
                },
                {
                    name: 'Oscar Magnussen',
                    img: 'oscarmagnussen.png',
                    url: 'https://oscarmagnuson.com/'
                },
                {
                    name: 'You Mawo',
                    img: 'youmawo.png',
                    url: 'https://www.youmawo.com/?lang=de'
                }
            ] %}
                <li>
                    <a class="marken__marke" href="{{ logo.url }}">
                        <img
                                alt="{{ logo.name }}"
                                eleventy:formats="{{ logo.img.split('.')[1] }}"
                                src="/img/marken/{{ logo.img }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
